@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Noto+Sans+TC');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,
*::before{
    box-sizing: inherit;
}

/* -- Buttons Styles -- */
#search-button{
    height: 3rem;
    width: 3rem;
    cursor: pointer
}

.iconic-property-stroke,
.iconic-property-fill {
    fill: #345;
    stroke: #269
}
#back-button{
    position:fixed;
    top:0; left:1rem;
    cursor: pointer;
    width: 10vw;
}
#settings{
    cursor: pointer;
    transform: rotate(90deg);
}
/* -- Page Controls -- */
.active{
    display: block;
}
.hidden{
    visibility: hidden;
}
/* --- Deafults --- */
html{
    
    font-size: 16px;
    line-height: 1.5;
}

h1,h2,h3{
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
}
.a{
    border:3px solid #55ffb6;
    font-size: 2.827rem;
    border-radius: 50px 300px;
    text-align: center;
}
header{
    padding:1rem 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    order: 2 , 1;
}
body{
    font-family: 'Noto Sans TC', Arial, Helvetica, sans-serif;

}
main{
    
    padding:1rem 2rem;
}
footer{
    display:grid;
    padding:1rem 2rem;
    background-color: #081c24;
    color: #fff;
    grid-gap: 1rem;
}
footer p{
    margin: 0 auto;
    font-size: 0.5rem ;
}
.atr img{
    margin: auto;
    width: 35vw;
    align-items: center;

}
.searchTerms{
    /*filler */
    display:block;
}

/* temp styling for response */
.card{
    border: 1px solid black;
}
.movieTitle{
    font-size:2rem;
    background-color: antiquewhite;
    color: #081c24;
}
.description{
    font-size:1rem;
    background-color: lightgray;
    color: #081c24
}