@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Noto+Sans+TC');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,
*::before{
    box-sizing: inherit;
}

/* -- Buttons Styles -- */
#search-button{
    height: 3rem;
    width: 3rem;
    cursor: pointer
}

.iconic-property-stroke,
.iconic-property-fill {
    fill: #345;
    stroke: #269
}
#back-button{
    position:fixed;
    top:0; left:1rem;
    cursor: pointer;
    width: 10vw;
}
#settings{
    cursor: pointer;
    transform: rotate(90deg);
}
/* -- Page Controls -- */
.active{
    display: block;
}
.hidden{
    visibility: hidden;
}
/* --- Deafults Mobile First --- */
html{
    margin: 0 auto;
    max-width: 500px;
    font-size: 16px;
    line-height: 1.5;
}

h1,h2,h3{
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
}
header{
    padding: 2rem 3rem;
    color: white;
    text-shadow: black;
}
body{
    font-family: 'Noto Sans TC', Arial, Helvetica, sans-serif;
}
main{
    padding:2rem, 3rem;
    background-color: #081c24;
}
footer{
    padding:1rem 2rem;
    background-color: #081c24;
}
/* --- home page --- */
a{
    text-decoration:none!important;
    color:white!important;
}
.siteName{
    border:3px solid #55ffb6;
    font-size: 2.827rem;
    border-radius: 50px;
    text-align: center;
}
input{
    width:66%;
    text-align: center;
    display: block;
    margin: auto;
    float:right;
}
.searchButtonDiv{
    float:right;
    padding-left:1rem;
}
.searchTerms{
    
}
.atr img{ 
    display:block;
    margin:auto;
    width: 35vw;
    max-width:200px;
}

.options{
    /* position: absolute;
    top: 3.3rem; right:3.8rem; */
    display:block;
    padding-right: 1rem;
    float:right;
  
}
.option img{
    
}

/* temp styling for response */
.card{
    border: 1px solid black;
}
.movieTitle{
    font-size:2rem;
    background-color: antiquewhite;
    color: #081c24;
}
.description{
    font-size:1rem;
    background-color: lightgray;
    color: #081c24
}
/* modal window */
.overlay{
    opacity:0.8;
    background-color:black;
}
.modalWindow{
    border:10px solid burlywood;
    background-color: bisque;
    color:darkslategrey;
}