#search-button{
    height: 3rem;
    width: 3rem;
    cursor: pointer
}

.iconic-property-stroke,
.iconic-property-fill {
    fill: #345;
    stroke: #269
}
#back-button{
    position:fixed;
    top:0; left:1rem;
    cursor: pointer;
    width: 10vw;
}
.active{
    display: block;
}
.hidden{
    visibility: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,
*::before{
    box-sizing: inherit;
}
html{
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}
header{
    padding:1rem 2rem;
    color: black;

}
.a{
    border:3px solid #55ffb6;
    font-size: 2.827rem;
    border-radius: 50px 300px;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    padding:1rem 2rem;
}
footer{
    display:grid;
    padding:1rem 2rem;
    background-color: #081c24;
    color: #fff;
    grid-gap: 1rem;
}
footer p{
    margin: 0 auto;
    font-size: 0.5rem ;
}
.atr img{
    margin: auto;
    width: 35vw;
    align-items: center;

}